USE [master]
GO
/****** Object:  Database [SACP]    Script Date: 1/06/2025 10:50:25 p. m. ******/
CREATE DATABASE [SACP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SACP', FILENAME = N'/var/opt/mssql/data/SACP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SACP_log', FILENAME = N'/var/opt/mssql/data/SACP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SACP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SACP]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 1/06/2025 10:50:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Cedula] [varchar](100) NOT NULL,
	[Carro] [varchar](100) NOT NULL,
	[Placa] [varchar](100) NOT NULL,
	[Reserva] [datetime] NULL,
	[Registro_Entrada] [datetime] NULL,
	[Registro_Salida] [datetime] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id], [Nombre], [Cedula], [Carro], [Placa], [Reserva], [Registro_Entrada], [Registro_Salida]) VALUES (1, N'Carlos Pérez', N'12345678', N'Toyota Corolla', N'ABC123', CAST(N'2025-06-02T15:44:00.000' AS DateTime), CAST(N'2025-06-02T01:37:22.773' AS DateTime), CAST(N'2025-06-02T01:38:53.093' AS DateTime))
INSERT [dbo].[Usuarios] ([id], [Nombre], [Cedula], [Carro], [Placa], [Reserva], [Registro_Entrada], [Registro_Salida]) VALUES (2, N'Laura Gómez', N'9876543210', N'Mazda 3', N'XYZ789', CAST(N'2025-06-02T01:25:56.087' AS DateTime), CAST(N'2025-06-02T01:39:45.900' AS DateTime), CAST(N'2025-06-02T01:25:56.087' AS DateTime))
INSERT [dbo].[Usuarios] ([id], [Nombre], [Cedula], [Carro], [Placa], [Reserva], [Registro_Entrada], [Registro_Salida]) VALUES (3, N'Andrés Ruiz', N'1122334455', N'Chevrolet Spark', N'JKL456', CAST(N'2025-06-02T01:39:42.707' AS DateTime), CAST(N'2025-06-02T01:39:48.417' AS DateTime), CAST(N'2025-06-02T01:39:42.707' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
USE [master]
GO
